body {
    font-family: 'Poppins', sans-serif;
    width: 105%;
}
.hero {
    text-align: left;
    padding: 60px 0;
}
.what-we-do {
    padding-top: 60px;
    padding-bottom: 60px;
}
.what-we-do ul {
    list-style: none;
    padding: 0;
}
.what-we-do ul li::before {
    content: '\2713';
    color: rgb(0, 0, 0);
    font-weight: bold;
    display: inline-block;
    width: 20px;
}
.faq-section{
    /* margin: 0 20px 0 20px !important; */
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: bold;
}
.accordion-button {
    font-size: 1.2rem;
    font-weight: bold;
}
.footer {
    background-color: black;
    color: white;
    padding: 40px 0;
}
.first-page {
    background-image: url('./images/theme/image3.png');
    background-size: cover;
    /* background-position: center; */
    background-size: 43%;
    background-repeat: no-repeat;
    background-position-x: right
    /* color: white; */
}
.question {
    font-size: 1.2rem;
    font-weight: bold;
    color: black !important;
    background-color: white !important;
}
.answer{
    font-size: 1.1rem;
    font-weight: normal;
}
.background-image{
    position: relative;     
    z-index: 10;            
    background-image: url('./images/theme/image1.png');
    background-size: 30%;    
    background-repeat: no-repeat;
    background-position: 15%;
    overflow: visible;      
    min-height: 700px; 
}
.what-we-do-header::before {
    content: ">";
    color: #e44ba7;
    margin-right: 8px; 
    font-weight: bold;
}
.what-we-do-header{
    padding-bottom: 10px; 
    font-weight: 100; 
}

.faq-section .accordion,
.faq-section .accordion-item,
.faq-section .accordion-button,
.faq-section .accordion-body {
  background-color: transparent !important;
  border: none !important;
}


/* Mobile Version */
@media (max-width: 768px) {
    .hero {
        padding-left: 5px;
        padding-top: 5em;
    }
    .background-image {
        background-position: 140% !important;
        background-size: 60%;
    }

    .what-we-do-header {
        text-align: center;
        font-size: 1.4rem; /* Adjust as needed */
      }

    .footer {
        margin: -20px !important;
    }
}