html, body {
    overflow-x: clip;
}

body {
    font-family: 'Poppins', sans-serif;
    /* width: 105%; */
    background-color: #ececec;
}

.hero {
    text-align: left;
    padding: 60px 0;
    margin-bottom: 200px;
}

.what-we-do {
    min-height: 500px;
}

.what-we-do ul {
    list-style: none;
    padding: 0;
}

.what-we-do ul li::before {
    content: '\2713';
    color: rgb(0, 0, 0);
    font-weight: bold;
    display: inline-block;
    width: 20px;
}
.faq-section{
    /* margin: 0 20px 0 20px !important; */
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: bold;
}
.accordion-button {
    font-size: 1.2rem;
    font-weight: bold;
}
.footer {
    background-color: black;
    color: white;
    padding: 40px 0;
}
.first-page {
    background-image: url('./images/theme/Blue_White_Striped_Textile_2.jpg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: 80% 
    /* background-image: url('./images/theme/Blue_White_Striped_Textile_1.jpg'); */
    /* background-size: cover;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: right */
}
.question {
    font-size: 1.2rem;
    font-weight: bold;
    color: black !important;
    background-color: white !important;
}
.answer{
    font-size: 1.1rem;
    font-weight: normal;
}
/* .background-image{
    position: relative;     
    z-index: 10;            
    background-image: url('./images/theme/image1.png');
    background-size: 30%;    
    background-repeat: no-repeat;
    background-position: 15%;
    overflow: visible;      
    min-height: 700px; 
} */
.what-we-do-header::before {
    content: ">";
    color: #e44ba7;
    margin-right: 8px; 
    font-weight: bold;
}
.what-we-do-header{
    padding-bottom: 10px; 
    font-weight: 100; 
}

.faq-section .accordion,
.faq-section .accordion-item,
.faq-section .accordion-button,
.faq-section .accordion-body {
  background-color: transparent !important;
  border: none !important;
}

.carousel{
    margin-top: 30px;
}


/* Mobile Version */
@media (max-width: 768px) {
    .hero {
        padding-left: 5px;
        padding-top: 5em;
    }

    .what-we-do-header {
        text-align: center;
        font-size: 1.4rem; /* Adjust as needed */
      }

    .footer {
        margin: -20px !important;
        font-size: 0.8rem; 
        padding: 20px 0;
    }

    .carousel-content{
        padding: 20px 0 0 0;
    }

    .first-page{
        background-size: auto;
        background-image:  url('./images/theme/Blue_White_Striped_Textile_1.jpg');
        background-size: cover !important;
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-x: right
    }

    .what-we-do {
        min-height: 900px;
    }

    .text-md-start {
        padding-left: 0 !important;
    }

    .linkedin-link {
        padding-right: 0 !important;
    }
}

.carousel-container {
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 5px;
    border: 2px solid black;
    display: flex;
    align-items: center;
}
.carousel-text {
    padding: 50px !important;
    border-radius: 10px;
    background-color: white;
    flex: 1;
    margin-right: 20px;
}
.carousel-content {
    flex: 1;
}
.carousel-inner {
    overflow: visible !important;
}


.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
.section-title::before,
.section-title::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: black;
    margin: 0 15px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    color: black !important;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1; 
}

.carousel-control-prev span,
.carousel-control-next span {
    display: inline-block;
    width: auto;
    height: auto;
    background: none;
    opacity: 1; /* Ensure the arrows are always visible */
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 1; /* Ensure the arrows are always visible on hover */
    color: gray;
}

.footer-content {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    margin: 0 auto;
    width: 25px;
}

.linkedin-link {
    padding-right: 50px;
    position: relative;
}

h1 {
    font-size: 3.5rem !important;
    line-height: 0.95;
}

.text-md-start {
    padding-left: 40px;
}


.carousel-item img {
    height: 100%; /* Ensure images take up the full height of the carousel item */
    object-fit: cover; /* Maintain aspect ratio and cover the entire area */
}

.nav-link{
    padding-right: 20px !important;
    text-align: center;
}

.privacy-policy{
    padding: 20px;
}

.ethos1{
    background-image: url('./images/services/innovation.png');
    background-size: cover;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: right;
    color: white;
    min-height: 18em;
    margin-bottom: 1em;
}

.ethos2{
    background-image: url('./images/services/reliable.png');
    background-size: cover;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: right;
    color: white;
    min-height: 18em;
    margin-bottom: 1em;
}

.ethos3{
    background-image: url('./images/services/growth.png');
    background-size: cover;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: right;
    color: white;
    min-height: 25em;
    margin-bottom: 1em;
}

.ethos-title{
    padding-top: 6.5em;
    padding-left: 10px;
    margin-bottom: 0 !important;
    font-weight: 600;
}

.ethos-subtitle{
    padding-left: 10px;
    margin-bottom: 0 !important;
}

.ethos-text{
    padding-left: 10px;
    font-size: 1.2em;
}

.services-banner{
    margin-top: 4em;
    border: 5px solid #fff;
    background-color: white;
    position: relative;
    padding-left: 3em !important;
    padding-top: 3em !important;
    padding-bottom: 2em !important;
    padding-right: 2em !important;
}

.services-title{
    font-size: 45px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: 1px;
    margin-bottom: 0 !important;
}

.services-subtitle{
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 0 !important;
}

.services-text{
    font-size: 16px;
    line-height: 26px;
}

.get-in-touch{
    background-color: #EFEFEF;
    margin-top: 2em;
    width: 100%;
    text-align: center;
    padding-left: 25px;
    font-weight: 500;
}

.py-6{
    padding-top: 6em;
    padding-bottom: 6em;
}

.ethos{
    letter-spacing: 0;
    line-height: 23.4px;
}

.footer-text{
    margin-bottom: 0 !important;
    font-size: 14px;
    font-weight: 300;
}


.service-table-left {
    margin-left: 5%;
    border-collapse: collapse;
}
.service-table-left td {
    border: 1px solid #000;
    padding: 0;
}
.service-table-left img {
    padding: 0 !important;
}

.service-table-right {
    margin-right: 5%;
    border-collapse: collapse;
}
.service-table-right td {
    border: 1px solid #000;
    padding: 0;
}

.service-table-right img {
    padding: 0 !important;
}

.service-title {
    /* font-weight: bold; */
    font-size: 40px;
    margin-bottom: 1em;
    letter-spacing: 0;
    line-height: 45px;
}
.service-img {
    height: 30em;
    /* width: 26em;
    display: block;
    background-repeat: no-repeat; */
}
.service{
    padding: 2em !important;
}
.service-text{
    padding-right: 2em !important;
    font-size: 20px;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.structure{
    background-image: url('./images/services/structure.png');
    text-align: right;
    padding-top: 35%;
    padding-right: 5%;
}
.structure p{
    line-height: 40px;
    font-size: 1.75em;
}
.discover{
    background-image: url('./images/services/discover.png');
    text-align: left;
    color: white;
    padding-top: 30%;
    padding-left: 1%;
}
.discover p{
    line-height: 40px;
    font-size: 1.75em;
    padding-left: 5%;
}
.unlock{
    background-image: url('./images/services/unlock.png');
    text-align: right;
    padding-top: 30%;
    padding-right: 5%;
}
.unlock p{
    line-height: 40px;
    font-size: 1.75em;
}
.build{
    background-image: url('./images/services/build.png');
    text-align: left;
    color: black;
    padding-top: 35%;
    padding-left: 1%;
}
.build p{
    line-height: 40px;
    font-size: 1.8em;
    padding-left: 5%;
}
.build-bckg{
    background-color: #d0d0d2;
}
.black-bckg{
    background-color: black;
}

@media (max-width: 768px) {
    .services-banner{
        margin: 2em 1em 1em 1em;
        width: auto;
        padding-left: 1em !important;
        padding-top: 1em !important;
        padding-bottom: 1em !important;
        padding-right: 1em !important;
    }

    .services-title{
        font-size: 30px;
        line-height: 30px;
    }

    .services-subtitle{
        font-size: 16px;
        line-height: 30px;
    }

    .services-text{
        font-size: 14px;
        line-height: 24px;
    }

    .py-6{
        padding-top: 3em;
        padding-bottom: 3em;
    }

    .footer-text{
        font-size: 12px;
    }

    .service-img{
        display: none;
    }

    .service-structure{
        background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('./images/services/structure1.png');
        background-size: cover;
        background-position: center;
        background-size: 100%;
    }

    .service-discover{
        background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('./images/services/discover1.png');
        background-size: cover;
        background-position: center;
        background-size: 100%;
    }

    .service-unlock{
        background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url('./images/services/unlock1.png');
        background-size: cover;
    }

    .service-build{
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('./images/services/build1.png');
        background-size: cover;
        background-position: center;
    }

    .service-streamline{
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('./images/services/streamline1.png');
        background-size: cover;
        background-position: center;
        background-size: 100%;
    }
}